/*font-family: 'Titillium Web', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Marcellus SC', serif;
font-family: 'Quicksand', sans-serif;*/

html {
  height: 100%;
}

body {
  background: linear-gradient(to right, #8B9DE4, #004CBF);
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  margin-top: 2%;
}

#about {
  text-align: center;
}

#tweet-chart {
  max-width: 100%;
}


article {
  border: 2px solid black;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.devPic {
  height: 100px;
  width: 100px;
}
