/*font-family: 'Titillium Web', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Marcellus SC', serif;
font-family: 'Quicksand', sans-serif;*/

html {
  height: 100%;
}

body {
  background: linear-gradient(to right, #8B9DE4, #004CBF);
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}


h2 {
  font-family: 'Quicksand', sans-serif;
}

article {
  border: 2px solid black;
  text-align: center;
}
