/*.wrapper {*/
  /*position: relative;*/
  /*min-height: 92%;
  height: auto !important;
  margin: 0 auto -50px;*/
/*}*/

#positive-pic {
  display:none;
}

#negative-pic {
  display:none;
}

#rangeinput {
  display: inline-block;
  margin-top: 2em;
}

#homepage {
  justify-content: center;
}

#slider-div {
  justify-content: center;
  border: 0;
  text-align: center;
}

.footer-container {
  position: relative;
  margin: 0 auto;
  height: 50px;
}

.footer-div {
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 0;
  color: white;
}

#about {
  position: relative;
  text-align: center;
  margin-top: 7%;
  /* left: 23%; */
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid black;
  background-color: navy;
  /* opacity: .7; */
  color: white;
  text-decoration: none;
}


#about h2 {
  display: inline;
  margin-right: 2%;
}

.aboutJohn h2{
  padding-right: 2%;
  border-right: 2px solid black;
}

.aboutLee h2{
  padding-right: 2%;
  border-right: 2px solid black;
}

article {
  position: relative;
  text-align: center;
  margin-top: 7%;
  left: 23%;
  max-width: 50%;
  border: 2px solid black;
}
