.wrapper {
  position: relative;
  min-height: 92%;
  height: auto !important;
  margin: 0 auto -50px;
}

#positive-pic {
  display:none;
}

#negative-pic {
  display:none;
}

#rangeinput {
  display: inline-block;
  margin-top: 2em;
}

#homepage {
  justify-content: center;
}

#slider-div {
  justify-content: center;
  border: 0;
  text-align: center;
}

.footer-container {
  position: relative;
  /*margin: 0 auto;*/
  height: 50px;
}

.push {
  height: 50px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 0;
  color: white;
}

#about {
  position: relative;
  text-align: center;
  color: white;
  text-decoration: none;
}

#about h2 {
  display: inline;
  margin-right: 2%;
}

#about img {
  margin-bottom: 15px;
}
.aboutJohn h2{
  padding-right: 2%;
  border-right: 2px solid black;
}

.aboutLee h2{
  padding-right: 2%;
  border-right: 2px solid black;
}

article {
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid black;
  background-color: navy;
}
