.map-section {
  display: none;
}

#map {
  margin: 10%;
  padding: 25% 0;
  border: 10px solid green;
}

header {
  display: flex;
  margin-top: .75em;
  margin-left: .5em;
  margin-bottom: 2em;
}

header img#logo {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  color: white;
}

header .title-name {
  margin-left: .3em;
  font-size: 25px;
}

.title-name a:hover {
  color: black;
}

#homepage {
  text-align: center;
}

#homepage h1 {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  color: white;
}

#homepage h2 {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: -10px;
  font-style: italic;
  margin-bottom: 0;
}

#images {
  display: flex;
  justify-content: center;
}

#homepage img {
  height: 60px;
  width: 60px;
}

#homepage p {
  font-size: 25px;
  color: white;
  margin: 15px;
}

.button-div {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#zipentry {
  width: 90%;
  margin: 2%;
  border: 0;
  background: #fff;
  color: #292f33;
  text-align: center;
}

#zipentry:focus {
  box-shadow: 0 0 20px red;
  border: 5px solid red;
  border: 0;
  background: #fff;
  text-align: center;
}

#rangeinput:focus {
box-shadow: 0 0 5px yellow;
border: 2px solid yellow;
}

#slider-text {
  color: white;
  font-size: 18px;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}

#rangevalue {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#positive-pic {
  width: 50%;
  margin: 25%;
  margin-top: 0;
  display: none;
}

#negative-pic {
  width: 50%;
  margin: 25%;
  margin-top: 0;
  display: none;
}

#neutral-pic {
  width: 50%;
  margin: 25%;
  margin-top: 0;
  display: none;
}

#example-tweets {
  align-items: center;
  display: flex;
  width: 98%;
  margin: auto;
  flex-direction: column;
}

.footer-div a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.links {
  margin-bottom: 5px;
}

#copyright {
  text-align: center;
  font-size: 11px;
  color: white;
}

/*CSS BELOW FOR STYLING THE RANGE INPUT*/
  input[type=range] {
    -webkit-appearance: none;
    width: 45%;
    background: transparent;
    align-self: center;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
      border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #FFFFFF, 0px 0px 1px #FFF;
    background: linear-gradient(to right, orange);
    border-radius: 1.3px;
    border: 0.2px solid #F0F0F0;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(to right, orange);
  }

@media only screen and (min-width: 400px) {
  #zipentry {
    width: 70%;
  }

  #homepage img {
    height: 100px;
    width: 100px;
  }

  #homepage p {
    font-size: 35px;
    color: white;
    margin: 25px;
  }

  #homepage h1 {
    font-size: 42px;
  }

  #homepage h2 {
    font-size:28px;
  }

}

@media only screen and (min-width: 760px) {
  #zipentry {
    width: 45%;
  }

  #homepage img {
    height: 150px;
    width: 150px;
  }

  #homepage p {
    font-size: 45px;
    color: white;
    margin: 40px;
  }

  #homepage h1 {
    font-size: 50px;
  }

  #homepage h2 {
    font-size:35px;
  }

}
